.form {

    margin: 80px 500px;
    width: 428px;
    padding: 20px;
    box-shadow: 1px 2px 60px  rgb(216, 206, 206);
    /* border: 2px solid black; */
    border-radius: 1em;

}
#standard-basic{
    width: 25em;
}
.submit-btn{
    display: flex;
    left: 10em;
}

.form-data{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    width: fit-content;
    /* background-color: yellow; */
}
.reset-btn{
    display: flex;
    left: 11em;
}
